[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    broad-exception-raised,
    relative-beyond-top-level,
    too-many-arguments,

[FORMAT]
max-line-length=120
